/*************************************************************************
    Stylesheet for View: files.vies.html
**************************************************************************/

.table.app-table-file
{
    font-size:9pt;
}

.table.app-table-file th
{
    width:25%;
    background:#F2F2F2;
}
