<form id="fileInputForm">
    <div class="form-group">
        <div class="input-group">
            <input type="file" class="form-control" name="file" accept="{{types}}" style="width:100%; display:block; text-align:left;" multiple />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-click="vm.loadFiles()" ng-disabled="vm.getFileList().length === 0">Load File(s)</button>
            </span>
        </div>
        <p class="help-block">Wählen Sie eine Datei aus und lesen sie diese ein.</p>
    </div>
<!--    <ul class="list-inline app-list-file-preview">
        <li ng-repeat="file in vm.getFileList()" class="ok"><span ng-bind="file.name"></span></li>
        <li ng-repeat="file in vm.getBadFileList()" class="nok"><span ng-bind="file.name"></span></li>
    </ul>-->
        
    <!--<button type="submit" class="btn btn-primary" ng-click="fvm.importSelectedFiles()" ng-disabled="fvm.files.length === 0">Load File(s)</button>-->
</form>