<div style="border-radius:3px; background:#FAFAFA; border:1px solid #D8D8D8; padding:10px; position:relative; overflow:hidden; overflow-x:scroll;" ng-show="vm.files.length > 0">
    <table class="table table-responsive table-hover table-condensed app-table-files" style="font-size:8pt;">
        <thead>
            <tr>
                <th>Filename</th>
                <th style="width:15%;">Size</th>
                <th class="hidden-xs">Type</th>
                <th class="hidden-md hidden-sm hidden-xs">Last Modified</th>
                <th class="hidden-md hidden-sm hidden-xs">Uploaded</th>
                <th style="width:5%;">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="file in vm.files track by $index">
                <td><span ng-bind="file.properties.name"></span></td>
                <td><span ng-bind="file.properties.size | convertToMb"></span></td>
                <td class="hidden-xs"><span ng-bind="file.properties.type"></span></td>
                <td class="hidden-md hidden-sm hidden-xs"><span ng-bind="file.properties.lastModified | date: 'yyyy / MM / dd hh:mm:ss a'"></span></td>
                <td class="hidden-md hidden-sm hidden-xs"><span ng-bind="file.properties.uploaded | date: 'yyyy / MM / dd hh:mm:ss a'"></span></td>
                <td>
                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-danger" ng-click="vm.removeFileFromArray(file)"><span class="glyphicon glyphicon-remove" ></span>&zwj;</button>
                        <button class="btn btn-default" ng-click="vm.openFileInfoModal(file)"><span class="glyphicon glyphicon-eye-open" ></span>&zwj;</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-show="vm.files.length > 0">
    <h2>Overview of Imported Files</h2>

    <div class="list-group">
        <a href="" class="list-group-item" ng-repeat="file in vm.files track by $index" ng-click="vm.openFileInfoModal(file)">
            <div class="row">
                <div class="col col-md-1 col-sm-2 col-xs-2">
                    <div class="type-preview">
                        <span class="glyphicon" style="font-size:25pt; color:#333;" ng-class="vm.getFileTypeIconClass(file.properties.type)"></span>
                    </div>                    
                </div>
                <div class="col col-md-11 col-sm-10 col-xs-10">
                    <h4 class="list-group-item-heading" ng-bind="file.properties.name"></h4>
                    <p class="list-group-item-text" >
                        Size: <span ng-bind="file.properties.size | convertToMb"></span>
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>
